/* line 1, ../../sass/echo-bars.sass */
.echo-bars {
  cursor: pointer;
}
@media (max-width: 500px) {
  /* line 1, ../../sass/echo-bars.sass */
  .echo-bars {
    display: none;
  }
}
/* line 7, ../../sass/echo-bars.sass */
.echo-bars li {
  display: inline;
  background-repeat: no-repeat;
  background-position: 0px center;
  margin-right: 20px;
  transition: all 1s;
}
/* line 14, ../../sass/echo-bars.sass */
.echo-bars li.echo-active {
  background-image: url(http://ianzapolsky.com/echo-site/images/longbar.png);
  padding-left: 165px;
}
/* line 20, ../../sass/echo-bars.sass */
.echo-bars li.echo-inactive {
  background-image: url(http://ianzapolsky.com/echo-site/images/smallerbar.png);
  padding-left: 60px;
}
