/* line 1, ../../sass/echo-gif.sass */
.echo-gif {
  margin-top: -25px;
  max-height: 400px;
}
@media (max-width: 700px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-top: 0px;
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-left: -50px;
  }
}
@media (max-width: 500px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-top: 0px;
    max-width: 400px;
    margin-left: 0px;
  }
}
@media (max-width: 450px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-top: 0px;
    max-width: 400px;
    margin-left: -30px;
  }
}
@media (max-width: 400px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-top: 0px;
    max-width: 370px;
    margin-left: -15px;
  }
}
@media (max-width: 380px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-top: 0px;
    max-width: 370px;
    margin-left: -30px;
  }
}
@media (max-width: 350px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-top: 0px;
    max-width: 360px;
    margin-left: -40px;
  }
}
@media (max-width: 340px) {
  /* line 1, ../../sass/echo-gif.sass */
  .echo-gif {
    margin-top: 0px;
    max-width: 340px;
    margin-left: -35px;
  }
}
