/* line 1, ../../sass/echo-main.sass */
body {
  background: none;
}

/* line 4, ../../sass/echo-main.sass */
.echo-background {
  background-image: url(images/echo_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 13, ../../sass/echo-main.sass */
.echo-container {
  padding: 20px;
}

/* line 16, ../../sass/echo-main.sass */
.echo-logo {
  max-width: 100%;
  height: auto;
}

/* line 20, ../../sass/echo-main.sass */
.echo-download {
  color: #eee;
}
@media (max-width: 500px) {
  /* line 20, ../../sass/echo-main.sass */
  .echo-download {
    display: none;
  }
}
/* line 26, ../../sass/echo-main.sass */
.echo-download h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-left: -135px;
  transition: all 0.5s;
}
/* line 34, ../../sass/echo-main.sass */
.echo-download a {
  color: #eee;
  cursor: pointer;
  transition: all 0.5s;
}
/* line 39, ../../sass/echo-main.sass */
.echo-download a:hover {
  text-decoration: none;
  color: #F9D000 !important;
}
/* line 43, ../../sass/echo-main.sass */
.echo-download a:visited {
  text-decoration: none;
}
