/* line 1, ../../sass/echo-arrows.sass */
.echo-arrows {
  position: relative;
}
/* line 4, ../../sass/echo-arrows.sass */
.echo-arrows .echo-left-arrow, .echo-arrows .echo-right-arrow {
  height: 40px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: 0px center;
  cursor: pointer;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
/* line 15, ../../sass/echo-arrows.sass */
.echo-arrows .echo-left-arrow {
  float: left;
  background-image: url(http://ianzapolsky.com/echo-site/images/left.png);
}
/* line 21, ../../sass/echo-arrows.sass */
.echo-arrows .echo-left-arrow:hover {
  background-image: url(http://ianzapolsky.com/echo-site/images/leftyellow.png);
}
/* line 26, ../../sass/echo-arrows.sass */
.echo-arrows .echo-right-arrow {
  float: right;
  background-image: url(http://ianzapolsky.com/echo-site/images/right.png);
}
/* line 32, ../../sass/echo-arrows.sass */
.echo-arrows .echo-right-arrow:hover {
  background-image: url(http://ianzapolsky.com/echo-site/images/rightyellow.png);
}
