<html>
<head>
  <title>Echo Page</title>
  <script src="https://w.soundcloud.com/player/api.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  <h1>Echo</h1>
  <a href="#" id="play">Play</a>
  <a href="#" id="pause">Pause</a>
  <p>http://echoserver.com/songs/<%= song_id %></p>
  <div style="height: 100px; position:fixed">
    <iframe width='100%' height='1' scrolling='no' frameborder='no' id="my-player" src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= song_id %>&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false'></iframe>
  </div>
 
  <div style="display: none;" id="app-store">APP STORE</div>
 
  <script type="text/javascript">
    $(function () {
      var widget = SC.Widget('my-player');
      $('#play').on('click', function () {
        widget.play()
      });
      $('#pause').on('click', function () {
        widget.pause()
      });
      widget.bind(SC.Widget.Events.PLAY_PROGRESS, function (opts) {
        if (opts.relativePosition > 0.5) {
          widget.pause();
          $('#app-store').show();
        }
      });
    });
  </script>
</body>
</html>